*[tT][iI][tT][lL][eE]*13*
*.txt
*.pyc
*.lp
*.mps
*.swp
*.ilp
*.[tT][mM][pP]
*.[lL][oO][gG]
*.[sS][wW][aA][pP]
*.e
*.o
*.swo
confs.json
*local-*
**/metastore_db/*
**/code/misc_code/*
**/code/logs/*
~*
*~
.cache
*T26*
*.old
*/logs/*
latex_docs/*.log
latex_docs/*.aux
*/error_metrics/*
*.out
*.dfxml
logs/
run_garfi303
slgout
cluster_stats.*
TAGS
.attach*
certificate.pdf
*.zip
.idea/
*.json
*.yarnout
.DS_Store
.pytest_cache

# Whitelisting needed file run_sugar_test_out.txt
!etc/hhtype/run_sugar_test_out.txt
*.pdf
certificate_demo.pdf
graph.png
das2020_certificate.aux
background1.jpg
query*.csv
.coverage*
logs
